@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.nav-container {
  background: #2d9cdb;
  a {
    color: white;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  .logo {
    color: #4f4f4f;
    font-weight: 700;
  }
  ul {
    display: flex;
    a {
      display: block;
      padding: 0 1em;
    }
  }
}
.social-header,
.hero-design {
  display: none;
}
.action {
  position: fixed;
  top: 20px;
  right: 30px;
}
.profile {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 340px;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.card.active {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}
.card-image img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.profile-image img {
  z-index: 1;
  width: 120px;
  height: 120px;
  position: relative;
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 10px solid #fff;
  transition-duration: 0.4s;
  transition-property: transform;
}

.profile-image img:hover {
  transform: scale(1.2);
}

.card-content h3 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

.card-content p {
  font-size: 16px;
  padding: 0 20px 5px 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 5px;
}

.icons a {
  text-decoration: none;
  color: #2d9cdb;
}

.icons a:hover {
  color: #2f80ed;
}
#tooltip1 {
  position: relative;
}
#tooltip1 a span {
  display: none;
  color: #fff;
}
#tooltip1 a:hover span {
  display: block;
  position: absolute;
  width: 100px;
  height: 20px;
  left: 30px;
  top: 0;
  font-size: 1rem;
  color: #000;
  padding: 5px;
  span {
    background: #eee;
  }
}

.hero {
  background: #2f80ed;
  color: white;
  display: grid;
  text-align: center;
  padding: 4em;
}
.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: bold;
  color: #4f4f4f;
  span {
    margin-right: 0.5em;
  }
}
.scroll {
  width: 30px;
  margin-top: 2em;
}
section {
  padding: 4em 2em;
  text-align: center;
}
.featured {
  position: relative;
}
.featured::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #eb5757;
  z-index: -1;
}
.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #4f4f4f;
  letter-spacing: 0.2em;
  font-size: 0.85em;
}
.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 0.4em;
  display: block;
}
.featured-desc {
  color: #333333;
  margin-bottom: 3em;
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 500;
}
.projects-btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2d9cdb;
  background: #4f4f4f;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
  transition: 0s;
}
.projects-btn:hover {
  color: #4f4f4f;
  font-weight: bold;
  transition: all 1s ease;
  background: #2d9cdb;
}
.skills {
  background: #9b51e0;
}
.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
  .icon-container {
    height: 100px;
    display: grid;
    place-content: center;
    margin: 0 auto;
    &.one {
      width: 50px;
    }
    &.two {
      width: 100px;
    }
    &.three {
      width: 60px;
    }
    &.four {
      width: 60px;
    }
  }
  .skill-title {
    font-weight: bold;
  }
  .featured-desc {
    margin-bottom: 2em;
  }
}
.portfolio {
  background: #f2f2f2;
}
.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured,
  .portfolio {
    text-align: left;
  }
  .featured,
  .portfolio-container {
    display: grid;
    grid-template-columns: 40% auto;
  }
  .left,
  .portfolio-left {
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
}
@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    header {
      background: #2d9cdb;
    }
  }
  .header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
  }
  section {
    padding: 4em;
  }
  .social-header {
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      width: 15em;
      float: right;
      img {
        width: 20px;
      }
    }
  }
  .hero {
    display: grid;
    grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
    .content {
      background: #2f80ed;
      padding: 6em 8em 6em 4em;
      text-align: left;
      h1 {
        font-size: 3em;
        line-height: 1.2em;
      }
    }
  }
  .meet {
    margin: unset;
  }
  .hero-design {
    display: unset;
    margin-left: -50%;
    margin-top: 15%;
    width: 100%;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 6em 10em;
  }
  .hero .content {
    padding: 6em 8em 6em 10em;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}
.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}
@keyframes circleAnim {
  from {
    transform: translate(262px, 798px);
    z-index: 5;
  }
  to {
    transform: translate(262px, 830px);
  }
}
